:root{
   --main-color: #264653;
   --dark-main-color: #102f3b;
   --main-light-color: #f8f7f7;
   --body-color: #cfcece;
   --secondary-color: #f4a261 ;
   --tertiary-color: #2a9d8f;
   --accent-color: #e9c46a;
   --refuse-color: #e76f51;
}

body{
  background-color: var(--body-color);
}
.text-main-color{
  color: var(--main-color);
}
.bg-main-color{
  background-color: var(--main-color);
}

.bg-dark-main-color{
  background-color: var(--dark-main-color);
}
.bg-light-color{
  background-color: var(--main-light-color);
}

.text-main-light-color{
  color: var(--main-light-color);
}

.text-secondary-color{
  color: var(--secondary-color);
}

.text-tertiary-color{
  color: var(--tertiary-color);
}

body{
    background-color: var(--body-color);
}

/* INIZIO CSS NAVBAR */

.bg-custom-navbar{
    background-color: var(--main-color);
}
.text-light-custom{
  color: var(--main-light-color);
}
.nav-link{
  margin: 0px 5px;
}
.nav-link:hover{
  color: var(--secondary-color);
}
.nav-link:focus{
  color: var(--secondary-color);
}
.nav-link:active{
  color: var(--secondary-color);
}
.navbar-brand:hover{
  color: var(--secondary-color);
}
.navbar-brand:focus{
  color: var(--secondary-color);
}
.navbar-brand:active{
  color: var(--secondary-color);
}

/* FINE CSS NAVBAR */


/* padding per navbar fix */
.padding-top-custom{
  padding-top: 56px;
}

/* INIZIO CSS HEADER */

.page-header { 
  /* immagine di prova */
  background: url(https://easetemplate.com/free-website-templates/hike/images/pageheader.jpg)no-repeat;
  position: relative; 
  background-size: cover; 
  height: 45vh;
}
.page-caption { 
  padding-top: 170px; 
  padding-bottom: 174px; 
}

@media screen and (max-width: 500px){
  .page-caption{
    padding-top: 130px;
  }

}

.page-title { 
  font-size: 52px; 
  line-height: 1; 
  color: var(--main-light-color); 
  font-weight: 600; 
  text-align: center; 
}

.card-section { 
  position: relative; 
  bottom: 45px; 
}
.card-block { 
  padding: 50px; 
}
.section-title { 
  margin-bottom: 50px; 
}

/* FINE CSS HEADER */

/* INIZIO CSS SEARCHBAR */

.searchbar-custom{
  border-radius: 50px;
  background-color: #ffffff70;
  color: var(--tertiary-color);
}

/* FINE CSS SEARCHBAR */

/* Immagine degli annunci */

.img-preview{
  width: 50%;
  height: 50vh;
  background-position: center !important;
 background-size: cover !important;
  background: no-repeat;
  background-color: #e76f51;
}


/* css login  */

.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .AltezzaLogin{
    position: relative; 
    bottom: 150px; 
  }


  /* Register */

  .AltezzaRegister{
    position: relative; 
    bottom: 50px; 
  }
  
  /* fine register */

  /* INIZIO CSS CARD */

  .card-custom{
    border-radius: 25px;
    background-color: var(--main-color);
    color: var(--main-light-color);
  }

  /* FINE CSS CARD */

  /* INIZIO CSS BUTTON */

  .btn-revisor-custom{
    border: 1px solid var(--main-light-color);
  }

  .btn-revisor-custom:hover{
    border: 1px solid var(--secondary-color);
  }

  .btn-category-custom{
    background-color: var(--secondary-color);
    width: 80%;
  }

  .btn-go-to-custom{
    background-color: var(--tertiary-color);
    width: 80%;
  }

  .btn-become-revisor-custom{
    background-color: var(--accent-color);
  }

  .btn-become-revisor-custom:hover{
    color: var(--accent-color);
  }

  .btn-become-revisor-custom:focus{
    color: var(--accent-color);
  }

  .btn-become-revisor-custom:active{
    color: var(--accent-color);
  }

  .btn-accept-custom{
    background-color: var(--tertiary-color);
    color: var(--main-color);
    width: 100%;
  }

  .btn-accept-custom:hover{
    background-color: var(--accent-color);
    color: var(--main-color);
    width: 100%;
  }

  .btn-accept-custom:focus{
    background-color: var(--tertiary-color);
    color: var(--main-color);
    width: 100%;
  }

  .btn-accept-custom:active{
    background-color: var(--tertiary-color);
    color: var(--main-color);
    width: 100%;
  }

  .btn-refuses-custom:hover{
    background-color: var(--accent-color);
    color: var(--main-color);
    width: 100%;
  }

  .btn-refuses-custom:focus{
    background-color: var(--refuse-color);
    color: var(--main-color);
    width: 100%;
  }

  .btn-refuses-custom:active{
    background-color: var(--refuse-color);
    color: var(--main-color);
    width: 100%;
  }

  .btn-refuses-custom{
    background-color: var(--refuse-color);
    color: var(--main-color);
    width: 100%;
  }

  .btn-searchbar-custom{
    width: 15%;
    background-color: var(--tertiary-color);
    color: var(--body-color);
    border-radius: 50px;
  }

  .btn-searchbar-custom:hover{
    width: 15%;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 50px;
  }

  .btn-searchbar-custom:focus{
    width: 15%;
    background-color: var(--tertiary-color);
    color: var(--main-light-color);
    border-radius: 50px;
  }

  .btn-searchbar-custom:active{
    width: 15%;
    background-color: var(--tertiary-color);
    color: var(--main-light-color);
    border-radius: 50px;
  }

  /* FINE CSS BUTTON */

  /* INIZIO CSS CAROUSEL */

  .carousel-inner{
    height: 400px;
    object-fit: cover;
    
  }

  /* FINE CSS CAROUSEL */

  
  /* INIZIO CSS FOOTER */

  .footer-link{
    color:var(--main-light-color)
  }
  .footer-link:hover{
    color: var(--secondary-color);
  }
  .footer-link:focus{
    color: var(--secondary-color);
  }
  .footer-link:active{
    color: var(--secondary-color);
  }

  /* FINE CSS FOOTER */

  /* INIZIO CSS LOGIN */

  .container-reg-custom{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
  }

  .wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  }
  .wrapper .title{
    height: 90px;
    background: var(--main-color);
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form{
    padding: 30px 25px 25px 25px;
  }
  .wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  form .row input:focus{
    border-color: var(--main-color);
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
  }
  form .row input::placeholder{
    color: #999;
  }
  .wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form .pass{
    margin: -8px 0 20px 0;
  }
  .wrapper form .pass a{
    color: var(--main-color);
    font-size: 17px;
    text-decoration: none;
  }
  .wrapper form .pass a:hover{
    text-decoration: underline;
  }
  .wrapper form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
  }
  form .button input:hover{
    background: var(--dark-main-color);
  }
  .wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .wrapper form .signup-link a{
    color: var(--main-color);
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  }


   /* FINE CSS LOGIN */

  /* Inizio Register */

   .ModificaRegister{
    background-color: #102f3b;
    position: relative;
    bottom: 50px; 

   }

   /* Fine Rigister */


   .test{
    height: 300px;
    width: 300px;
    display: block;
    margin: 0px auto;

   }